<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<typeAliases>
	<typeAlias alias="UserDto" type="com.ds.hakyung.user.domain.UserDto"/>
	<typeAlias alias="DeptDto" type="com.ds.hakyung.user.domain.DeptDto"/>
	<typeAlias alias="HobbyDto" type="com.ds.hakyung.user.domain.HobbyDto"/>
	<typeAlias alias="HobbyDataDto" type="com.ds.hakyung.user.domain.HobbyDataDto"/>

</typeAliases>
<mappers>
	<mapper resource="mapper/User.xml"/>
	<mapper resource="mapper/Dept.xml"/>
	<mapper resource="mapper/Hobby.xml"/>
	<mapper resource="mapper/HobbyData.xml"/>
<!-- 	<mapper resource="mapper/Score.xml"/> -->

</mappers>
</configuration>