<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<typeAliases>
	<typeAlias alias="UserDto" type="com.ds.hakyung.user.domain.UserDto"/>
<!-- 	<typeAlias alias="BoardDto" type="com.kosa.myapp.board.domain.BoardDto"/> -->
<!-- 	<typeAlias alias="ScoreDto" type="com.kosa.myapp.score.domain.ScoreDto"/> -->


</typeAliases>
<mappers>
	<mapper resource="mapper/User.xml"/>
<!-- 	<mapper resource="mapper/Board.xml"/> -->
<!-- 	<mapper resource="mapper/Score.xml"/> -->

</mappers>
</configuration>