<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>권한 승인 요청</title>
    <!-- 부트스트랩 CSS 링크 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">권한 승인 요청</h1>
        <form id="myform" name="myform" action="/user/request" method="post">
            <div class="form-group">
                <label for="user_id">사용자 ID</label>
                <input type="text" class="form-control" id="user_id" name="user_id" required>
            </div>
            <div class="form-group">
                <label for="user_nm">이름</label>
                <input type="text" class="form-control" id="user_nm" name="user_nm" required>
            </div>
            <div class="form-group">
                <label for="user_eml">이메일</label>
                <input type="email" class="form-control" id="user_eml" name="user_eml" required>
            </div>
       		<div class="form-group">
            <label for="user_dept_no">부서명:</label>
            <select class="form-control" id="user_dept_no" name="user_dept_no">
                <option value="">선택안함</option>
                <option value="1">부서1</option>
                <option value="2">부서2</option>
                <option value="3">부서3</option>
                <option value="4">부서4</option>
                <option value="5">부서5</option>
            </select>
        </div>
            <div class="form-group">
                <label for="user_telno">전화번호</label>
                <input type="tel" class="form-control" id="user_telno" name="user_telno" required>
            </div>
            <div class="form-group">
                <label for="user_addr">주소</label>
                <input type="text" class="form-control" id="user_addr" name="user_addr" required>
            </div>
            <button type="submit" class="btn btn-primary">승인 요청</button>
        </form>
    </div>
</body>
</html>